@using GridMvc.Html
@model IEnumerable<MarketingServiceRequests.Models.MarketingServiceRequest>


@{
    ViewBag.Title = "HomeGrid";
}

    <head>
        <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
        <link href="~/Content/jquery.jqGrid/ui.jqgrid.css" rel="stylesheet" />
        <link href="~/Content/homecss.css" rel="stylesheet" />
        <script src="~/Scripts/i18n/grid.locale-en.js"></script>
        <script src="~/Scripts/jquery.jqGrid.js"></script>
        <script src="~/Scripts/jquery-ui-1.10.0.min.js"></script>


        <style>
        </style>
        <script>
            $(document).ready(function () {
                $('[data-toggle="tooltip"]').tooltip();
                $('#JQGrid').jqGrid('setGridWidth', '1100');
                $(function () {
                    debugger;
                    $("#JQGrid").jqGrid
                        ({
                            url: "/Home/GetHomeGrid",
                            datatype: 'json',
                            mtype: 'Get',
                            colNames: ['Project Title', 'Desired Date', 'Business Objective',
                                'Cost Center', 'Status'],
                            colModel: [
                                { name: "ProjectTitle", width: 275 },
                                { name: "DesiredDate", width: 220 },
                                { name: "BusinessObjective", width: 165 },
                                { name: "CostCenter", width: 275 },
                                { name: "Status", width: 165 },
                            ],
                            height: '400px',
                            //width: 700,
                            rowNum: 10,
                            //altRows: true,
                            pager: jQuery('#JQGridPager'),
                            rowList: [10, 20, 30, 40],
                            viewrecords: true,
                            caption: '',
                            emptyrecords: 'No records',
                            jsonReader:
                            {
                                root: "rows",
                                page: "page",
                                total: "total",
                                records: "records",
                                repeatitems: false,
                                Id: "0"
                            },
                            autowidth: true,
                            shrinkToFit: false,
                        });
                });
            });
        </script>
    </head>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img class="logo" src="~/Images/logo.jpg" alt="" />

            </a>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <img src="~/Images/plus1.png" style="width:40px" data-toggle="test" data-placement="top" title="New Marketing Service Request" onclick="location.href='@Url.Action("servicedetail", "Servicedetails")'" />
                        <div class="dropdown">
                            <a class="nav-link" href="#">
                                @{
                                    if (Session["UserName"] != null)
                                    {
                                        @Session["UserName"]
                                    }
                                } <span class="fa fas fa-angle-down ml-3 mt-3"></span>
                                
                            </a>
                            <div class="dropdown-content">
                                @Html.ActionLink("Logout", "LogOut", "Login")
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="table-wrapper">
        <table id="JQGrid"></table>
    </div>
    <div id="JQGridPager"></div>

}