@model MarketingServiceRequests.Models.SMS

    @{
        ViewBag.Title = "SMS";
    }
    <head>
        <link href="~/Content/smscss.css" rel="stylesheet" />
        <style>


            /* Manish CSS Starts */

        </style>
        <script>
            $(document).ready(function () {
                $('input:submit').attr('disabled', false);

            });</script>
    </head>

    @using (Html.BeginForm("SMS", "Services", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand" href="#">
                    <img class="logo" src="~/Images/logo.jpg" alt="" />

                </a>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <div class="dropdown">
                                <a class="nav-link" href="#">
                                    @{
                                        if (Session["UserName"] != null)
                                        {
                                            @Session["UserName"]
                                        }
                                    } <span class="fa fas fa-angle-down ml-3 mt-3"></span>
                                   
                                </a>
                                <div class="dropdown-content">
                                    @Html.ActionLink("Logout", "LogOut", "Login")
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div>
            <div class="breadcrumb">
                <div class="breadcrumb-item"><a href='@Url.Action("HomeGrid", "Home")'>Home</a></div>
                <span class="fa fas fa-chevron-circle-right mt-1 mr-3 ml-3"></span>
                <div class="breadcrumb-item active" aria-current="page">New Services</div>
            </div>
        </div>
        <div class="border">
            <div class="wrapper">

                <div id="pointer0">
                    <p id="step1" class="step">Service Detail</p>
                </div>

                <div id="pointer1">
                    <p id="step1" class="step">SMS</p>
                </div>

            </div>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <section>
                <nav1>
                    <ul>
                        <li><a href='@Url.Action("copywriting", "Services")'>Copy Writing</a></li>
                        <li><a href='@Url.Action("Designs", "Services")'>Designs</a></li>
                        <li><a href='@Url.Action("Events", "Services")'>Events</a></li>
                        <li><a href='@Url.Action("SocialMedia", "Services")'>Social Media</a></li>
                        <li><a href='@Url.Action("IMCWebsite", "Services")'>IMC Website</a></li>
                        <li><a href='@Url.Action("Production", "Services")'>Production</a></li>
                        <li class="active"><a href='@Url.Action("SMS", "Services")'>SMS</a></li>
                        <li><a href='@Url.Action("Email", "Services")'>Email</a></li>
                    </ul>
                </nav1>
                <article>
                    <div>
                        <div>
                            @Html.Label("SMS Text Content")
                        </div>
                        <div class="input-group mb-3">
                            @Html.EditorFor(model => model.SMSTextContent, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.SMSTextContent, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div>
                        <div>
                            @Html.Label("Email Type")
                        </div>
                        <div>
                            <div class="form-check form-check-inline">
                                @Html.CheckBox("EnglishSMS", true)<span style="padding:0 10px 0 0px">English</span>
                                @Html.CheckBox("ArabicSMS", true) <span style="padding:0 10px 0 0px">Arabic</span>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div>
                            @Html.Label("Target Audience Description")
                        </div>
                        <div class="input-group mb-3">
                            @Html.TextAreaFor(model => model.TargetAudienceDescription, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.TargetAudienceDescription, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </article>
            </section>

            <div class="card">
                <div class="card-body">
                    <input type="submit" id="btnsubmit" value="Next" class="btn" />
                    <input type="button" value="Back" class="btn" onclick="location.href='@Url.Action("servicecategories", "Servicedetails")'" />
                </div>
            </div>
        </div>
    }

